/*************************************
AIONE GRID
***************************************/
.aione-grid-start{
  color:aaaaaaaaaaaaaaaaaaaaaaaaaaaa;
}
$aione-columns:100;

.ar{

  display:block;
  padding:0;
  margin: 0;
  // Clear floating children
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .ac{
    float: left;
    display: block;
    box-sizing: border-box;
    padding: 0 $gutter-width / 2;
    min-height: 1px;
    vertical-align: top;
    margin-left: auto;
    left: auto;
    right: auto;

    &[class*="push-"],
    &[class*="pull-"] {
      position: relative;
    }

    $i: 1;
    @while $i <= $aione-columns {
      $perc: unquote((100 / ($aione-columns / $i) ) + "%");
      &.s#{$i} {
        width: $perc;
      }
      $i: $i + 1;
    }

    @media #{$medium-and-up} {
      $i: 1;
      @while $i <= $aione-columns {
        $perc: unquote((100 / ($aione-columns / $i)) + "%");
        &.m#{$i} {
          width: $perc;
        }
        $i: $i + 1
      }
    }

    @media #{$large-and-up} {
      $i: 1;
      @while $i <= $aione-columns {
        $perc: unquote((100 / ($aione-columns / $i)) + "%");
        &.l#{$i} {
          width: $perc;
        }
        $i: $i + 1;
      }
    }
  }
}

.aione-grid-end{
  color:bbbbbbbbbbbbbbbbbbbbbbbbbbb;
}

.last,
.last-column {
  padding-right: 0;
  margin-right: 0;
}

.last:after {
	content: "";
	display: table;
	clear: both;
}
