.aione-nav {
	color: #fff;
	background-color: #2d323e;
	width: 100%;
	height: auto;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			color: #ffffff;
			display: inline;
			padding: 0;
			margin: 0;
			position: relative;
			font-size: 16px;
			line-height: 30px;
			font-weight: 400;
			border-bottom: 1px solid rgba(255, 255, 255, 0.07);
			font-family: "Open Sans", Arial, Helvetica, sans-serif;
			webkit-transition: all 150ms ease-out;
			-moz-transition: all 150ms ease-out;
			-o-transition: all 150ms ease-out;
			transition: all 150ms ease-out;
			a {
				color: #ffffff;
				display: block;
				padding: 0 6px;
				margin: 0;
				font-size: 15px;
				line-height: 40px;
				font-weight: 400;
				font-family: "Open Sans", Arial, Helvetica, sans-serif;
				webkit-transition: all 150ms ease-out;
				-moz-transition: all 150ms ease-out;
				-o-transition: all 150ms ease-out;
				transition: all 150ms ease-out;
			}
		}
	}
	>ul {
		>li.nav-item-current {
			background-color: #1e222b;
			>a {
				.nav-item-arrow {
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					transform: rotate(135deg);
				}
			}
			>ul {
				display: block;
			}
		}
		>li.nav-item-selected {
			background-color: #0f1117;
			>a {
				.nav-item-arrow {
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					transform: rotate(135deg);
				}
			}
			>ul {
				display: block;
			}
		}
		>li {
			&:first-child {
				border-top: 1px solid rgba(255, 255, 255, 0.07);
			}
			>a {
				.nav-item-icon {
					width: 20px;
					height: 20px;
					padding: 0;
					margin: 5px;
					line-height: 20px;
					text-align: center;
					display: inline-block;
				}
				.nav-item-arrow {
					position: absolute;
					padding: 0;
					margin: 0;
					right: 5px;
					top: 16px;
					width: 8px;
					height: 8px;
					text-align: center;
					border-top: 1px solid #676b75;
					border-right: 1px solid #676b75;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					transform: rotate(45deg);
					-webkit-transition: all 150ms ease-out;
					-moz-transition: all 150ms ease-out;
					-o-transition: all 150ms ease-out;
					transition: all 150ms ease-out;
				}
			}
			>ul {
				display: none;
				background-color: #20252f;
				>li.nav-item-current {
					background-color: #1e222b;
				}
				>li {
					&:last-child {
						border-bottom: none;
					}
					>a {
						padding: 0 0 0 15px;
						.nav-item-icon {
							display: none;
						}
					}
				}
			}
		}
	}
}
.aione-nav-background {
	display: none;
}
.aione-nav.aione-nav-vertical {
	ul {
		li {
			display: block;
			float: none;
		}
	}
}
.aione-main.sidebar-small {
	.aione-nav {
		>ul {
			>li {
				>a {
					.nav-item-text {
						display: none;
					}
					.nav-item-arrow {
						display: none;
					}
				}
				&:hover {
					>ul {
						width: 200px;
						position: absolute;
						top: 0px;
						left: 40px;
						z-index: 999;
					}
				}
			}
			>li.nav-item-current {
				>ul {
					display: none;
				}
				&:hover {
					>ul {
						display: block;
					}
				}
			}
			>li.nav-item-selected {
				>ul {
					display: none;
				}
				&:hover {
					>ul {
						display: block;
					}
				}
			}
		}
	}
}
