body{
		background-color: #ffffff;
	}
	.main-container{
		padding:0px;
	}
	.form_group{
		margin:30px;
	    font-size: 16px;
	    font-weight: 400;
	    color: #5d5c5c;
	    font-family: 'Open Sans', sans-serif;
	}
	.form-control{
		background: #f8f8f8;
	}
	.btn {
	    background: #2196F3;
	    margin-top: 30px;
	}
	.input-group{
		margin-left: 54px;
	   
	}
	/*.table > thead > tr > th{
		    padding: 4px 4px !important;
	}	
	.table > tbody > tr > td{
		  padding: 4px 4px;
	}*/
	td, th{
		padding:0 5px;
	}
	td{
		line-height: 14px;
		min-width: 4px !important;
	}
	table{
		font-size: 13px
	}
	.pager li > a{
		    background-color: #006694;
		    color: #ffffff;
	}
	.design-style{
		
	    text-align: center;
	    margin-top: 0px;
	}
	.design-bg{
		
	    border-radius: 3px;
	    border: 1px solid #e8e8e8;
	    margin-bottom: 10px;
	}
	.present-bg-color{
		background: #8BC34A;
	    color: #fff;
	}
	.absent-bg-color{
		background:#e53935;
		color: #fff;
	}
	.pager li > a:hover{
		background-color: #006694;
	}
	.table-tr{
		text-align: center;
	}
/*	select{
		display: block;
	}*/
	button{
		position: initial;	
	}
	.popup{
		/*position: absolute;	
		background-color:white;
		padding: 10px;
		color: grey;
		border:2px solid blue;
		border-top: 10px solid blue;
		margin-top: -65px*/

			position: absolute;
		    background: #2a3035;
		    border-radius: 1px;
		    color: #fff;
		    content: attr(data-balloon);
		    font-size: 12px;
		    padding: 10px;
		    white-space: nowrap;
		    margin-top: -58px;
		    min-width: 200px;
	}
	.popup:after{
		     content: '';
		    top: 100%;
		    left: 20%;
		    border: solid transparent;
		    height: 0;
		    width: 0;
		    position: absolute;
		    pointer-events: none;
		    border-color: transparent;
		    border-top-color: #2a3035;
		    border-width: 10px;
		    margin-left: -10px;
	}
	.hidden{
		display: none;

	}