body{
		background-color: #ffffff;
	}
	.main-container{
		padding:0px;
	}
	.form_group{
		margin:30px;
	    font-size: 16px;
	    font-weight: 400;
	    color: #5d5c5c;
	    font-family: 'Open Sans', sans-serif;
	}
	.form-control{
		background: #f8f8f8;
	}
	.btn {
	    background: #2196F3;
	    margin-top: 30px;
	}
	.input-group{
		margin-left: 54px;
	   
	}
	/*.table > thead > tr > th{
		    padding: 4px 4px !important;
	}	
	.table > tbody > tr > td{
		  padding: 4px 4px;
	}*/
	td, th{
		padding:0 5px;
	}
	td{
		line-height: 14px;
		min-width: 4px !important;
	}
	table{
		font-size: 13px
	}
	.pager li > a{
		    background-color: #006694;
		    color: #ffffff;
	}
	.design-style{
		
	    text-align: center;
	    margin-top: 0px;
	}
	.design-bg{
		background: #ececec;
	    padding: 24px 14px 15px 14px;
	    border-radius: 3px;
	    border: 1px solid #ddd;
	    margin-bottom: 10px;
	}
	.present-bg-color{
		background: #8BC34A;
	    color: #fff;
	}
	.absent-bg-color{
		background:#e53935;
		color: #fff;
	}
	.pager li > a:hover{
		background-color: #006694;
	}
	.table-tr{
		text-align: center;
	}
/*	select{
		display: block;
	}*/
	button{
		position: initial;	
	}
	.popup{
		/*position: absolute;	
		background-color:white;
		padding: 10px;
		color: grey;
		border:2px solid blue;
		border-top: 10px solid blue;
		margin-top: -65px*/

			position: absolute;
		    background: rgba(17,17,17,.9);
		    border-radius: 4px;
		    color: #fff;
		    content: attr(data-balloon);
		    font-size: 12px;
		    padding: .5em 1em;
		    white-space: nowrap;
		    margin-top: -55px;
	}
	.popup:after{
		  	content: '';
		    position: absolute;
		    left: 18px;
		    top: 30px;
		    width: 0;
		    height: 0;
		    border-left: 20px solid transparent;
		    border-right: 20px solid transparent;
		    border-top: 20px solid #000;
		    clear: both;

	}
	.hidden{
		display: none;

	}