a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}
body {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #454545;
  outline: 0;
  text-shadow: none;
  box-shadow: none;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
ol,
ul {
  list-style: none
}
blockquote,
q {
  quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
a {
  text-decoration: none
}
img {
  max-width: 100%
}
.aione-wrapper {
  margin: 0;
  padding: 0
}
.aione-layout-wide {
  width: 100%
}
.aione-main {
  padding-top: 40px
}
.aione-wrapper.no-header .aione-main {
  padding-top: 0
}
.aione-content {
  width: calc(100% - 210px);
  float: right;
  position: relative
}
.aione-main.sidebar-small .aione-content {
  width: calc(100% - 50px)
}
.aione-page-content {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px
}
.aione-wrapper.no-sidebar .aione-main .aione-content {
  width: 100%;
  float: none
}
.page-content {
  padding-top: 46px;
  padding-right: 0;
  padding-left: 230px!important
}
.aione-footer {
  color: #757575;
  margin: 0;
  padding: 20px 10px;
  border-top: 1px solid #e8e8e8;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  font-family: "Open Sans",Arial,Helvetica,sans-serif
}
.aione-footer a,
.aione-footer a:visited {
  color: #757575;
  webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out
}
.aione-footer a:active,
.aione-footer a:hover {
  color: #666
}
.page-content {
  padding-top: 46px;
  padding-right: 0;
  padding-left: 230px!important
}
.aione-page-header {
  padding: 10px;
  border-bottom: 1px solid #e8e8e8
}
.aione-page-header .aione-page-title-container {
  display: inline-block
}
.aione-page-header .aione-page-title-container .aione-page-title {
  color: #666;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 1.33333333;
  font-weight: 100;
  font-family: "Open Sans",Arial,Helvetica,sans-serif
}
.aione-button {
  color: #757575;
  display: inline-block;
  padding: 0 10px;
  margin: 0 0 0 10px;
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  text-align: center;
  cursor: pointer;
  webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out
}
.aione-button:hover {
  color: #666;
  background-color: #f2f2f2;
  border: 1px solid #d2d2d2
}
.aione-button-square {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0
}
.aione-breadcrumbs-container {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0
}
.aione-breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0
}
.aione-breadcrumbs > li {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative
}
.aione-breadcrumbs > li > a {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #757575;
  display: inline-block;
  padding: 0 18px 0 10px;
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  cursor: pointer;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out
}
.aione-breadcrumbs > li:last-child > a {
  padding: 0 10px 0 10px
}
.aione-breadcrumbs > li > a:hover {
  color: #454545
}
.aione-breadcrumbs > li > a:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 2px;
  border-top: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out
}
.aione-breadcrumbs > li:last-child > a:after {
  display: none
}
.aione-breadcrumbs > li > a:active {
  color: #333;
  background-color: #f2f2f2
}
.aione-breadcrumbs > li.active > a:after {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg)
}
.aione-breadcrumbs > li > a .icon {
  font-size: 16px
}
.aione-breadcrumbs > li > ul {
  display: none;
  width: 180px;
  min-width: 160px;
  max-width: 300px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  z-index: 998;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2)
}
.aione-breadcrumbs > li.active > ul {
  display: block
}
.aione-breadcrumbs > li > ul > li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e8e8e8
}
.aione-breadcrumbs > li > ul > li > a {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #757575;
  display: block;
  padding: 0 10px;
  margin: 0;
  font-size: 15px;
  line-height: 34px;
  font-weight: 400;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  cursor: pointer;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out
}
.aione-breadcrumbs > li > ul > li > a:hover {
  color: #fff!important;
  background-color: #168dc5
}
.aione-breadcrumbs > li > ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: transparent
}
.aione-breadcrumbs > li > ul::-webkit-scrollbar {
  width: 5px;
  background-color: transparent
}
.aione-breadcrumbs > li > ul::-webkit-scrollbar-thumb {
  background-color: #787a7e;
  border-radius: 6px
}
.clear {
  clear: both
}
.error-red {
  color: red
}
.display_block {
  display: block!important
}
::-webkit-scrollbar {
  width: 8px
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
}
::-webkit-scrollbar-thumb {
  background: #454545;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.5)
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #888
}
.field-label {
  text-align: left;
  margin-bottom: 10px
}
.field-label label {
  margin-bottom: 0;
  padding: 0;
  font-weight: 100
}
.field-title {
  color: #747474;
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 5px 0;
  font-family: "Open Sans",Arial,Helvetica,sans-serif
}
.field-description {
  color: #b8b8b8;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-family: "Open Sans",Arial,Helvetica,sans-serif
}
.media-type-image {
  max-width: 100%;
  margin: 12px 0
}
.media-type-audio {
  border: 1px solid #e8e8e8;
  margin: 12px 0;
  padding: 0;
  display: block;
  width: 100%;
  min-height: 34px;
  position: relative
}
.field {
  margin-bottom: 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px dotted #e8e8e8
}
.field-option {
  padding: 0;
  margin-bottom: 5px;
  border-bottom: 1px dotted #e8e8e8
}
.field-option:last-child {
  margin-bottom: 0;
  border-bottom: none
}
.field .field-option label,
.field-option label {
  display: block;
  padding: 6px 0 7px 40px;
  color: #747474;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400
}
.field input[type=email],
.field input[type=number],
.field input[type=password],
.field input[type=password] input[type=number],
.field input[type=tel],
.field input[type=text],
.field input[type=url],
.field select,
.field select[multiple=multiple],
select,
textarea {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  width: 100%;
  min-height: 50px;
  padding: 10px 10px;
  margin: 0;
  color: #747474;
  background-color: #faf8f7;
  border: 1px solid #e8e8e8;
  outline: 0;
  text-shadow: none;
  box-shadow: none;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
.field input[type=email]:focus,
.field input[type=number]:focus,
.field input[type=password] input[type=number]:focus,
.field input[type=password]:focus,
.field input[type=tel]:focus,
.field input[type=text]:focus,
.field input[type=url]:focus,
.field select:focus,
.field select[multiple=multiple],
select:focus,
textarea:focus {
  background-color: #f5f3f2;
  border: 1px solid #c4c4c4
}
.checkbox input[type=checkbox],
.field-wrapper .field.checkbox input[type=checkbox],
.field-wrapper .field.radio input[type=radio],
.radio input[type=radio],
input[type=checkbox],
input[type=radio] {
  border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 30px;
  margin: 0;
  outline: 0;
  padding: 0!important;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  min-width: 24px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out
}
.field-wrapper .field.radio input[type=radio],
.radio input[type=radio],
input[type=radio] {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%
}
.field-wrapper .field.radio input[type=radio]:checked:before,
.radio input[type=radio]:checked:before,
input[type=radio]:checked:before {
  content: "";
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 14px;
  height: 14px;
  margin: 7px;
  display: block;
  background-color: #1e8cbe
}
.field-wrapper .field.radio input[type=checkbox]:checked:before,
.radio input[type=checkbox]:checked:before,
input[type=checkbox]:checked:before {
  content: "";
  width: 14px;
  height: 14px;
  margin: 7px;
  display: block;
  background-color: #1e8cbe
}
.page-wrapper {
  margin-bottom: 0;
  height: 100vh
}
.page-wrapper > .form-wrapper {
  height: 100%;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  padding: 100px 32px 32px 32px!important;
  overflow-y: auto;
  overflow-x: hidden
}
.login-form .display-1 {
  font-size: 30px;
  font-weight: 300;
  color: #4e5a64
}
.heading {
  font-size: 18px
}
.full-width {
  width: 100%
}
.forgot-password {
  line-height: 55px
}
.brand-name {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(0,0,0,.15);
  position: absolute;
  left: 0;
  right: 33.3333333333%;
  top: 0;
  bottom: 0;
  padding: 20px
}
.brand-name > span {
  color: #03a9f4
}
.login-fields {
  position: relative
}
.login-fields i {
  position: absolute;
  left: 10px;
  color: grey;
  font-size: 22px;
  line-height: 46px
}
.error {
  background-color: #fed0c8;
  padding: 14px;
  position: absolute;
  top: 0;
  right: 0;
  width: 33.3333333333333333%;
  color: #757575
}
.error i {
  display: inline-block;
  float: left;
  font-size: 30px;
  color: #da8787;
  width: 38px;
  line-height: 42px
}
.error-1 {
  background-color: #ffefbe;
  padding: 14px
}
.login-form .sub-title {
  color: #a0a9b4;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 50px
}
.login-form button {
  color: #fff;
  background-color: #32c5d2;
  border-color: #32c5d2;
  line-height: 1.44;
  outline: 0!important;
  box-shadow: none!important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px
}
.login-form .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px;
  font-size: 13px;
  color: #a9b5be
}
@media only screen and (max-width:992px) {
  .brand-name {
    right: 50%
  }
}